@import '~@angular/material/theming';

@mixin rad-feature-login-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	// #auth-login {
	// 	background-color: mat-color($foreground) !important;
	// }

	// .badge.title {
	// 	background-color: mat-color($primary);
	// 	color: mat-color($primary, default-contrast);
	// }
}
