@import '~@angular/material/theming';

@mixin rad-feature-login-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	// .card {
	// 	border: mat-color($primary, lighter);
	// 	background-color: mat-color($primary, default-contrast);
	// }

	.badge.title {
		background-color: mat-color($primary);
		color: mat-color($primary, default-contrast);
	}
}
