<div id="auth-login">
	<div class="content">
		<div [ngClass]="'header ' + routerElementsAnimations">
			<div class="badge inline title">
				<mat-icon>account_circle</mat-icon>
				USER LOGIN
			</div>
		</div>

		<div class="container">
			<form>
				<div [ngClass]="'row ' + routerElementsAnimations">
					<mat-form-field class="form__row" appearance="outline" color="accent">
						<mat-label>Username</mat-label>
						<input matInput type="text" placeholder="Enter your username" />
					</mat-form-field>
				</div>

				<div [ngClass]="'row ' + routerElementsAnimations">
					<mat-form-field class="form__row" appearance="outline" color="accent">
						<mat-label>Password</mat-label>
						<input
							matInput
							[type]="hideP ? 'password' : 'text'"
							placeholder="Type your password"
						/>

						<mat-icon matSuffix (click)="hideP = !hideP">{{
							hideP ? 'visibility_off' : 'visibility'
						}}</mat-icon>
					</mat-form-field>
				</div>

				<div [ngClass]="'x-row ' + routerElementsAnimations">
					<button class="x1" mat-flat-button disabled>
						<mat-icon>fingerprint</mat-icon>
						Login
					</button>

					<a class="x1 create" type="button" routerLink="/auth/register">
						<span>Create account ?</span>
					</a>
				</div>
			</form>
		</div>
		<!-- end of content -->
	</div>
</div>
