<div id="auth-login">
	<div class="header">
		<h2 class="badge lvl title">User Login</h2>
	</div>

	<div class="content card">
		<p class="lead justify">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione
			consectetur excepturi quisquam? Aliquid suscipit temporibus vitae?
			Veritatis quisquam rerum aliquam sequi, ad iusto et debitis fugiat ullam
			accusantium praesentium. Inventore?
		</p>

		<span class="badge lvl info">TODO LIST</span>
		<ul class="lead">
			<li>Manage state for the router</li>
			<li>Make UI for login, ignore topbar just yet</li>
			<li>Login custom component theme. DONT FORGET</li>
		</ul>
	</div>
</div>
