.fx {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -100px;
}

figure {
	margin: 0;
}

.cover-photo {
	img {
		width: 100%;
		height: 30vh;
		object-fit: cover;
	}
	&.loading {
		width: 100%;
		background-color: red;
	}
}

.avatar {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	background-color: #000000; // change later based on theme!
	box-shadow: 0px 5px 18px 2px rgba(0, 0, 0, 0.2);

	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}

	&.loading {
		margin-top: -200px;
		opacity: 0.5;
		color: white;
	}
} // end of avatar;

.change_cover {
	position: absolute;
	top: 72px;
	right: 9px;

	button {
		height: 55px;
		width: 55px;
		border-radius: 10px;
		background-color: #00000095;

		&:hover {
			background-color: #000000;
		}

		mat-icon {
			color: white;
		}
	}
}

.change_photo {
	margin: -55px -150px 0 0;

	button {
		height: 55px;
		width: 55px;
		border-radius: 50%;
		background-color: #00000095;

		&:hover {
			background-color: #000000;
		}

		mat-icon {
			color: white;
		}
	}
}

.name {
	margin-top: 20px;
	font-size: 1.5rem;
	text-align: center;
	font-weight: 400;
}

.hidden_input {
	display: none;
}

.buttons {
	display: flex;
	margin-top: 20px;

	.message {
		display: none;
	}

	.mat-flat-button {
		margin-right: 10px;
	}
	.mat-flat-button,
	.mat-icon-button {
		height: 45px;
	}
}

/* Large device */
@media (min-width: 777px) {
	figure {
		.cover-photo img {
			height: 380px !important;
		}
	}
}
