<figure>
	<div [ngClass]="'cover-photo ' + animate">
		<img [src]="user.coverPicture" alt="User Cover Photo" />

		<div class="change_cover">
			<button (click)="coverPictureInput.click()" mat-icon-button>
				<mat-icon>photo_camera</mat-icon>
			</button>
		</div>
	</div>

	<mat-progress-bar
		*ngIf="isLoadingCoverPicture"
		color="accent"
		mode="buffer"
	></mat-progress-bar>

	<div class="fx">
		<div [ngClass]="'avatar ' + animate">
			<img
				[src]="user.photo"
				[style.filter]="isLoadingProfilePicture && 'blur(9px)'"
				alt="User Avatar"
			/>
		</div>
		<div *ngIf="isLoadingProfilePicture" class="avatar loading">
			<mat-spinner color="accent"></mat-spinner>
		</div>
		<div class="change_photo">
			<button (click)="profilePictureInput.click()" mat-icon-button>
				<mat-icon>photo_camera</mat-icon>
			</button>
		</div>
		<div [ngClass]="'name ' + animate">{{ user.name }}</div>

		<div [ngClass]="'buttons ' + animate">
			<button
				(click)="editProfile()"
				class="edit_info"
				mat-flat-button
				color="primary"
			>
				<mat-icon>edit</mat-icon>&nbsp;&nbsp;
				<span>Edit Public Info</span>
			</button>

			<button class="message" mat-flat-button color="primary">
				<mat-icon>mail</mat-icon>&nbsp;&nbsp;
				<span>Send Message</span>
			</button>

			<button mat-icon-button>
				<mat-icon>more_horiz</mat-icon>
			</button>
		</div>
	</div>

	<div class="hidden_input">
		<input #coverPictureInput type="file" />
		<input #profilePictureInput type="file" />
	</div>
</figure>
