section {
	margin-bottom: 20px;
}
.user_detail {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 400;
}

.edit_profile {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 33%;
	border-radius: 25px;
	padding: 15px 10px;
	font-weight: 500;

	mat-icon {
		margin-right: 15px;
	}
}

@media (max-width: 777px) {
	.user_detail {
		font-size: 1rem;
	}
	.edit_profile {
		width: unset;
	}
}
