@import '.~@angular/material/theming';

@mixin rad-reset-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);
	$foreground: map-get($theme, foreground);

	.card {
		background-color: mat-color($foreground);
	}

	// side menu drawer backdrop
	.mat-drawer-backdrop.mat-drawer-shown {
		background-color: rgba(0, 0, 0, 0.81);
	}

	a {
		color: mat-color($foreground, text);

		&:hover {
			color: mat-color($accent);
		}
	}

	code {
		color: mat-color($accent, lighter-contrast);
		background-color: mat-color($accent, lighter);
	}

	p {
		a {
			color: mat-color($accent);

			&:hover {
				color: mat-color($accent, darker);
			}
		}
	}

	.error-notification-overlay {
		color: mat-color($warn, default-contrast);
		background-color: mat-color($warn);
	}

	.info-notification-overlay {
		color: mat-color($accent, default-contrast);
		background-color: mat-color($accent);
	}

	.success-notification-overlay {
		color: mat-color($success-color, default-contrast);
		background-color: mat-color($success-color);
	}

	.warning-notification-overlay {
		color: mat-color($warning-color, default-contrast);
		background-color: mat-color($warning-color);
	}
}
