.feature_images {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;

	.ft_img {
		flex-basis: 32%;
		margin-bottom: 5px;
		cursor: pointer;

		&:nth-child(1) img {
			border-top-left-radius: 10px;
		}
		&:nth-child(3) img {
			border-top-right-radius: 10px;
		}
		&:nth-child(4) img {
			border-bottom-left-radius: 10px;
		}
		&:nth-child(6) img {
			border-bottom-right-radius: 10px;
		}

		img {
			// max-height: 95%;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}
