<h1 [ngClass]="routeElementsAnimations">Home works...</h1>

<h1 [ngClass]="routeElementsAnimations">
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere velit
	laboriosam expedita, ratione ullam culpa asperiores! Sint sapiente iste
	dolores consequuntur illum. Ex, facilis earum. Possimus reiciendis dolor
	praesentium hic!
</h1>

<div [ngClass]="routeElementsAnimations">
	<p class="lead">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi autem
		impedit earum deleniti sed repellendus ratione numquam quos nemo. Officiis
		molestias vitae perspiciatis exercitationem soluta ipsum eligendi aliquam
		tempore nesciunt! Perspiciatis pariatur totam porro voluptates delectus
		adipisci hic quam enim reprehenderit possimus unde accusamus quos blanditiis
		quia nostrum accusantium exercitationem ducimus, dolore voluptatibus fugiat
		animi! Id, incidunt! Rem, recusandae molestiae. Aperiam quasi deserunt nulla
		inventore voluptatem ab perferendis praesentium corrupti delectus rem
		reprehenderit sed similique nihil, fugit aliquam velit tempore ad sunt non
		culpa aut voluptate cum quo? Similique, numquam. Nostrum atque totam itaque
		nisi illum eius accusantium quasi recusandae officia, velit distinctio
		obcaecati! Consequatur nemo repellat, ipsam quidem dolor magni harum ratione
		facilis asperiores saepe nam voluptates obcaecati maxime!
	</p>
</div>
