@import '~@angular/material/theming';

@mixin rad-tile_actions-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);

	.tile_actions {
		ul li:hover {
			color: mat-color($accent) !important;
		}
	}
}

.tile_actions {
	width: 100%;

	ul {
		display: flex;
		flex-direction: row;
		margin: 0; // reset
		padding: 0; // reset
	}

	li {
		flex: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		cursor: pointer;
		padding: 1rem 0;
		list-style: none;
		font-weight: 400;
		margin: 0.5rem;

		&:hover {
			border-radius: 30px;
		}

		.total,
		mat-icon {
			margin-right: 5px;
		}
	}

	ul li {
		.mat-icon,
		.label {
			font-size: 1rem;
		}
		.mat-icon {
			margin-right: 0;
			display: flex;
			align-items: center;
		}
	}
}
