/* Global styles */
html,
body {
	height: 100%;
	margin: 0;
}

.theme-wrapper {
	height: 100%;
	width: 100%;
}

.header > h2 {
	font-weight: 500;
}

.page-container {
	font-weight: 300;
	font-size: 1rem;
}

.justify {
	text-align: justify;
}

.card {
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 5px 18px 2px rgba(0, 0, 0, 0.2);
}

.btn-submit > div > button {
  width: 100%;
  height: 50px;
	margin-bottom: 10px;
	border-radius: 0px;

	&.mat-flat-button {
		color: white;
		background-color: #0091e6; // do not touch !!

		&:hover {
			background-color: #283593; // based on default primary
		}
	}
}

.badge {
	padding: 2px 7px;
	border-radius: 20px;
	width: fit-content;

	&.success {
		background-color: #00d169 !important;
		color: white !important;
	}

	&.info {
		background-color: #0091e6 !important;
		color: white !important;
	}

	&.warning {
		background-color: #a9e600 !important;
		color: black !important;
	}

	&.error {
		background-color: #0091e6 !important;
		color: black !important;
	}

	&.dark {
		background-color: #303030 !important;
		color: white !important;
	}

	&.inline {
		color: #959595 !important;
		background-color: #ffffff00 !important;
	}

	&.lvl {
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
	}

	&.title {
		display: flex;
		place-items: center;
		padding: 0px 20px;
		margin-bottom: 20px;
		font-size: 1.3rem;
		font-weight: 300;
		border-radius: 20px !important;
		border: 1px solid #959595;
	
		mat-icon {
			margin-left: -10px !important;
			margin-right: 5px !important;
			height: 25px !important;
			width: 25px !important;
		}
	}
}

/* App loading styles is underneath */
.app-loading {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;

	.logo {
		width: 64px;
		height: 64px;
		background: url(../assets/icons/badge.svg) center center no-repeat;
		background-size: cover;
	}

	.spinner {
		height: 200px;
		width: 200px;
		animation: rotate 2s linear infinite;
		transform-origin: center center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;

		.path {
			stroke-dasharray: 1, 200;
			stroke-dashoffset: 0;
			animation: dash 1.5s ease-in-out infinite;
			stroke-linecap: round;
			stroke: rgb(72, 210, 252);
		}
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}

	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}
