* {
	&:active,
	:focus {
		outline: none !important;
	}
}

code {
	white-space: nowrap;
	border-radius: 10px;
	padding: 0 8px 1px 8px;
}

p {
	a {
		border-bottom: 3px solid;
	}
}

// 3rd party styles reset
.badge {
	padding: 2px 7px;
	border-radius: 20px;

	&.success {
		background-color: #00d169;
	}

	&.info {
		background-color: #0091e6;
	}

	&.warning {
		background-color: #a9e600;
	}

	&.error {
		background-color: #0091e6;
	}

	&.lvl {
		box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.521);
	}

	&.title {
		padding: 0px 10px;
		margin-bottom: 10px;
		border-radius: 10px !important;
		// font-size: inherit !important;
		// line-height: normal !important;
	}
}

.mat-drawer-container {
	position: unset !important;
}

.mat-drawer-inner-container {
	overflow-x: hidden !important;
}

.mat-menu-content {
	padding: 0px !important;
}

// .mat-menu-item .mat-icon {
//   margin-right: 10px !important;
// }

.mat-menu-panel {
	min-height: 0px !important;
	border-radius: 0px !important;
}

.mat-dialog-container {
	border-radius: 0px !important;
}

.mat-button.nav-link {
	border-radius: 0px !important;
}
