@import '../../../../styles/variables';

// .theme-wrapper {
//   height: 100%;
//   width: 100%;
// }

mat-toolbar {
  height: 50px;

  &.sticky {
    position: sticky;
  }
}

.spacer {
  flex: 1 0 auto;
}

a.nav-link {
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;

  // &.active {
  //   background-color: #0c0c0c36;
  // }
}
.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 265px;
}

.side-toolbar {
  font-size: 14px;

  .big-title {
    font-weight: 600;
    font-family: 'Ubuntu';
    font-size: 25px;
  }
}

mat-nav-list {
  padding: 0px;

  .mat-list-item {
    font-size: 14px;
    height: 46px;

    &.active,
    &:hover {
      border-right: solid 5px;
    }
  }
}
