<div [class]="'theme-wrapper ' + (theme$ | async)">
	<div
		class="nav-toolbar"
		[style.position]="(isStickyHeader$ | async) ? 'fixed' : 'inherit'"
		[class.mat-elevation-z5]="isStickyHeader$ | async"
	>
		<mat-toolbar color="primary">
			<!-- Menu toggler -->
			<button
				mat-icon-button
				(click)="drawer.toggle()"
				*ngIf="isHandset$ | async"
			>
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>

			<!-- Toolbar logo -->
			<a routerLink="/" class="nav-link">
				<img
					src="assets/icons/badge.svg"
					title="Home"
					alt="Home"
					width="33"
					height="36"
					class="topbar-logo"
				/>
			</a>

			<!-- Separator -->
			<span class="spacer"></span>

			<div class="navigation">
				<a
					mat-button
					class="nav-link"
					title="Home"
					routerLink="home"
					routerLinkActive="active"
					>Home</a
				>

				<a
					mat-button
					class="nav-link"
					title="Admin"
					routerLink="admin"
					routerLinkActive="active"
					>Admin</a
				>
			</div>
		</mat-toolbar>
	</div>

	<mat-sidenav-container>
		<!-- SIDE NAVIGATION (MOBILE) -->
		<mat-sidenav
			#drawer
			fixedInViewport
			[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
			[mode]="(isHandset$ | async) ? 'over' : 'side'"
		>
			<!-- Side Toolbar -->
			<mat-toolbar color="primary">
				<button mat-icon-button (click)="drawer.toggle()">
					<mat-icon>menu</mat-icon>
				</button>

				<div class="big-title">
					<img
						src="assets/icons/badge.svg"
						title="Home"
						alt="Home"
						width="37"
						height="40"
						class="topbar-logo"
					/>
					JOKERING
				</div>
			</mat-toolbar>

			<mat-nav-list (click)="drawer.toggle()" *ngFor="let item of navMenu">
				<a mat-list-item [routerLink]="[item.link]" routerLinkActive="active">
					<span class="menu-list">{{ item.label | uppercase }}</span>
					<span class="spacer"></span>
					<mat-icon>{{ item.icon }}</mat-icon>
				</a>
			</mat-nav-list>
		</mat-sidenav>

		<!-- ROUTER OUTLET (PAGE CONTAINER) -->
		<main class="content">
			<router-outlet></router-outlet>
		</main>
	</mat-sidenav-container>
</div>
