<div [class]="'theme-wrapper ' + (theme$ | async)">
	<mat-sidenav-container>
		<!-- Sidenav -->
		<mat-sidenav #sidenav mode="over">
			<!-- sidenav toolbar -->
			<mat-toolbar color="primary">
				<!-- sidenav button drawer -->
				<button mat-icon-button class="d-md-none" (click)="sidenav.toggle()">
					<mat-icon>menu</mat-icon>
				</button>

				<!-- sidenav branding -->
				<div class="branding">
					<img src="assets/icons/badge.svg" alt="branding" />
					<span>Injoker</span>
				</div>
			</mat-toolbar>

			<!-- sidenav item list -->
			<div class="side-menu-group">
				<!-- menu group one -->
				<mat-nav-list>
					<a
						mat-list-item
						(click)="sidenav.close()"
						*ngFor="let menuItemOne of sideNavMenuOne"
						[routerLink]="menuItemOne.link"
						routerLinkActive="active"
					>
						<span>{{ menuItemOne.label | uppercase }}</span>

						<span class="spacer"></span>

						<mat-icon>{{ menuItemOne.icon }}</mat-icon>
					</a>
				</mat-nav-list>

				<mat-divider></mat-divider>

				<!-- menu group two -->
				<mat-nav-list>
					<a
						mat-list-item
						(click)="sidenav.close()"
						*ngFor="let menuItemTwo of sideNavMenuTwo"
						[routerLink]="menuItemTwo.link"
						routerLinkActive="active"
					>
						<span>{{ menuItemTwo.label | uppercase }}</span>

						<span class="spacer"></span>

						<mat-icon>{{ menuItemTwo.icon }}</mat-icon>
					</a>
				</mat-nav-list>
			</div>
		</mat-sidenav>

		<!-- wrapper -->
		<div class="wrapper">
			<!-- topnav toolbar -->
			<div
				class="toolbar"
				[style.position]="(isStickyHeader$ | async) ? 'fixed' : 'inherit'"
				[class.mat-elevation-z5]="isStickyHeader$ | async"
			>
				<mat-toolbar color="primary">
					<!-- topnav button drawer -->
					<button mat-icon-button class="d-md-none" (click)="sidenav.toggle()">
						<mat-icon>menu</mat-icon>
					</button>

					<!-- topnav branding sm -->
					<span routerLink="" class="branding d-inline d-sm-none">
						<img src="assets/icons/badge.svg" />
					</span>

					<!-- topnav branding md -->
					<span
						routerLink=""
						class="branding d-none d-sm-inline d-md-none"
					>
						<img src="assets/icons/badge.svg" />
						<span>Injoker</span>
					</span>

					<!-- topnav branding md ? -->
					<span routerLink="" class="branding d-none d-md-inline">
						<img src="assets/icons/badge.svg" />
						<span>Injoker</span>
					</span>

					<!-- topnav spacer -->
					<span class="spacer"></span>

					<!-- topnav item list -->
					<span class="d-none d-md-inline">
						<a
							mat-button
							class="nav-link"
							*ngFor="let topNav of topNavMenu"
							[routerLink]="topNav.link"
							routerLinkActive="active"
						>
							{{ topNav.label }}
						</a>
					</span>

					<!-- login button -->
					<button
						mat-stroked-button
						color="accent"
						routerLink='auth/login'
						routerLinkActive='active'
					>
						Login
					</button>

					<!-- register button -->
					<button
						mat-stroked-button
						color="accent"
						routerLink='auth/register'
						routerLinkActive='active'
					>
						Register
					</button>

					<!-- menu toolbar button -->
					<button mat-icon-button class="user" [matMenuTriggerFor]="toolbarUserMenu">
						<mat-icon>account_circle</mat-icon>
					</button>

					<!-- menu toolbar container -->
					<mat-menu #toolbarUserMenu="matMenu">
						<!-- menu settings -->
						<button mat-menu-item routerLink="profile">
							<mat-icon>account_circle</mat-icon>
							<span>User Profile</span>
						</button>

						<!-- menu settings -->
						<button mat-menu-item routerLink="settings">
							<mat-icon>settings</mat-icon>
							<span>Settings</span>
						</button>

						<!-- menu logout -->
						<button mat-menu-item>
							<mat-icon>fingerprint</mat-icon>
							<span>Logout</span>
						</button>
					</mat-menu>
				</mat-toolbar>
			</div>

			<!-- content -->
			<main
				class="page-container"
				[@routeAnimations]="
					o.isActivated &&
					o.activatedRoute.routeConfig.data &&
					o.activatedRoute.routeConfig.data.title
				"
			>
				<router-outlet #o="outlet"></router-outlet>
			</main>

			<!-- footer -->
			<rad-footer></rad-footer>
		</div>
	</mat-sidenav-container>
</div>
