@import '../../../../styles/variables';

#auth-register {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding-bottom: 20px;
}

.content {
	&.card {
		width: 77%;
		height: auto;
		padding: 20px 40px;
	}
}

.btn-submit a > span {
	font-size: 14px;
	font-weight: 500;
}

.flexed {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	margin-top: -10px;
}

@media (max-width: map-get($grid-breakpoints, md)) {
	.title {
		margin: 0px auto 20px !important
	}
}

@media (max-width: map-get($grid-breakpoints, sm)) {
	.card {
		padding: 10px 20px !important;
		width: 100% !important;
	}

	.title {
		font-size: 1.3rem !important;
	}

	mat-form-field {
		font-size: 16px !important;
	}

	.btn-submit a > span {
		text-align: center !important;
	}

	.flexed {
		margin-top: 0px;
	}
}
