<div id="auth-register">
	<div class="content card">
		<div [ngClass]="'header ' + routerElementsAnimations">
			<div class="badge inline title">
				<mat-icon>account_circle</mat-icon>
				USER REGISTRATION
			</div>
		</div>

		<div class="container">
			<form>
				<div [ngClass]="'row ' + routerElementsAnimations">
					<mat-form-field class="form__row" color="accent" appearance="fill">
						<mat-label>Full Name</mat-label>
						<input matInput type="text" placeholder="Enter your name" />
					</mat-form-field>
				</div>

				<div [ngClass]="'x-row jc-sb ' + routerElementsAnimations">
					<mat-form-field class="x-base" color="accent" appearance="fill">
						<mat-label>Username</mat-label>
						<input matInput type="text" placeholder="Enter your username" />
					</mat-form-field>

					<mat-form-field class="x-base" color="accent" appearance="fill">
						<mat-label>Email address</mat-label>
						<input
							matInput
							type="text"
							placeholder="Enter your email address"
						/>
					</mat-form-field>
				</div>

				<div [ngClass]="'x-row jc-sb ' + routerElementsAnimations">
					<mat-form-field class="x-base" color="accent" appearance="fill">
						<mat-label>Password</mat-label>
						<input
							matInput
							[type]="hideP ? 'password' : 'text'"
							placeholder="Type your password"
						/>

						<mat-icon matSuffix (click)="hideP = !hideP">{{
							hideP ? 'visibility_off' : 'visibility'
						}}</mat-icon>
					</mat-form-field>

					<mat-form-field class="x-base" color="accent" appearance="fill">
						<mat-label>Confirm password</mat-label>
						<input
							matInput
							[type]="hideP ? 'password' : 'text'"
							placeholder="Retype your password"
						/>

						<mat-icon matSuffix (click)="hideP = !hideP">{{
							hideP ? 'visibility_off' : 'visibility'
						}}</mat-icon>
					</mat-form-field>
				</div>

				<div [ngClass]="'x-row actions jc-sb ' + routerElementsAnimations">
					<button class="x-base" mat-flat-button disabled>Register</button>

					<a class="x-base" routerLink="/auth/login">
						<span>Already have an account ?</span>
					</a>
				</div>
			</form>
		</div>
		<!-- end of content -->
	</div>
</div>
