#auth-register {
	padding: 20px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.content {
	&.card {
		width: 77%;
    height: auto;
    padding: 20px 40px;
	}
}