<div class="container-fluid">
	<div [ngClass]="'header ' + routeElementsAnimations">
		<h2>About Page Works...</h2>
	</div>

	<main [ngClass]="routeElementsAnimations">
		<mat-card>
			<mat-card-header>Card Header</mat-card-header>
			<mat-card-subtitle>I am tired dealing with UI frontend</mat-card-subtitle>

			<mat-card-content>
				<p class="lead">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur ut
					voluptas corrupti quibusdam reiciendis quasi placeat iure, neque
					officia, laudantium sequi ullam architecto dolorem accusantium quas
					iusto sit mollitia! Iure!
				</p>
			</mat-card-content>
		</mat-card>
	</main>
</div>
