p {
	font-size: 1.5rem;
	line-height: 1.5rem;
	margin: 1rem 0;
}
.blog_tile {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;

	border: 2px #66666666 solid;
	box-shadow: 0px 3px 4px 1px #00000052;
}
.tile_header {
	display: flex;
	line-height: 1.5rem;
	margin: 1rem;
	.user_photo {
		margin-right: 1rem;
		height: 2.7rem;
		width: 2.7rem;
		img {
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
	}
	.blog_meta {
		flex: 3;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-weight: 500;
		.name {
			cursor: pointer;
		}
		.date {
			font-size: 0.9rem;
			font-weight: 400;
			filter: opacity(0.5);
		}
	}
	.action {
		float: right;
		margin: -10px -10px 0 0;
		cursor: pointer;
	}
}
.tile_content {
	display: flex;
	flex-direction: column;

	.content_caption {
		font-size: 1.2rem;
		line-height: 1.5rem;
		margin: 0 1rem 1rem;
	}
	.content_blog {
		display: flex;
		margin: 0 1rem 1rem;
		cursor: pointer;
		&:hover {
			filter: brightness(0.9);
		}
	}
	.blog_image {
		flex: 2;
		min-height: 100px;
		width: 100%;
		background-size: cover;
		background-position: center;
	}
	.blog_title {
		flex: 3;
		font-size: 1.4rem;
		line-height: 1.8rem;
		font-weight: 500;
		margin: 0 1rem;
	}
}
.tile_totals {
	display: flex;
	flex-direction: row;
	margin: 0 1rem 1rem;
	font-size: 0.9rem;
	font-weight: 400;

	&:hover {
		cursor: pointer;
	}

	.spacer {
		flex: 1 0 auto;
	}
	.comments {
		margin-right: 1rem;
	}
}
.giveMeEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;

	@media (max-width: 777px) {
		-webkit-line-clamp: 2;
	}
}

@media (max-width: 777px) {
	.tile_content .content_blog {
		flex-direction: column;
		margin: unset;

		.blog_image {
			margin: 0;
			min-height: 200px;
		}
		.blog_title {
			margin: 1rem;
			font-size: 1.2rem;
			line-height: unset;
		}
	}
	.tile_totals {
		justify-content: space-between;
		.spacer {
			flex: unset;
		}
		.comments {
			margin-right: unset;
		}
	}
}
